<!doctype html>
<html>
<style>
form {
    margin: auto;
    width: 35%;
}.result {
    margin: auto;
    width: 35%;
    border: 1px solid #ccc;
}
</style><head>
    <title>HR Model</title>
</head>
<form action="{{ url_for('main') }}" method="POST">
    <fieldset>
        <legend>Input values:</legend>
        "satisfaction_level"
        <input name="satisfaction_level"  required>
        <br>
        ="last_evaluation"
        <input name="last_evaluation"  required>
        <br>
        "number_of_projects"
        <input name="number_of_projects"  required>
        <br>
        "average_monthly_hours"
        <input name="average_monthly_hours"  required>
        <br>
        "years_at_company" 
        <input name="years_at_company"  required>
        <br>
        "work_accident"
        <input name="work_accident"  required>
        <br>
        "promotion_last_5years" 
        <input name="promotion_last_5years"  required>
        <br>
        "salary" 
        <input name="salary"  required>
        <br>
        "departement"
        <input name="departement"  required>
        <br>
        <input type="submit">
    </fieldset>
</form>
<br>
<div class="result" >
    {% if result %}
        {% for variable, value in original_input.items() %}
            <b>{{ variable }}</b> : {{ value }}
        {% endfor %}
        <br>
        <br> Predicted number of bikes in use:
           <p style="font-size:50px">{{ result }}</p>
    {% endif %}
</div>